* {
  font-family: 'Tektur', sans-serif;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items:top;
  min-height: 100vh;
  background: url('../img/360_F_563537281_zsULZnvlJMkX2QZMTx6a5wtLbC6Cj78C.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.ayat {
  width: 80%;
  background-color: transparent;
  color: white;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0,0,0, .2);
  padding: 30px 30px;
}

.ayat h1 {
  text-align: center;
  font-size: 36px;
  margin-top: none;
  margin-bottom: 16px;
}

.surat {
  font-family: 'Chiller', sans-serif;
  width: 80%;
  text-align: justify;
  font-size: 30px;
  border: 2px solid rgba(255, 255, 255, .2);
  transform:translateX(12%);
  padding: 20px;
  border-radius: 20px;
}

.arahan {
  text-align: center;
  margin: none;
  position: absolute;
  bottom: 21%;
  width: 100%;
  right: 5vh;
}

.spacebunga {
  text-align: center;
  padding: 20px;
  margin-top: 10vh;
  margin-bottom: none;
  margin-left: 20vh;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 20px;
  width: 30%;
  transform: translateX(30px);
}

.spacerobot {
  text-align: center;
  padding: 20px;
  margin-top: none;
  margin-left: 20vh;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 20px;
  width: 30%;
  position: fixed;
  bottom: 3%;
  right: 20%;

}

.bunga,
.robot {
  text-align: center;
}

.imgbunga,
.imgrobot {
  width: 100px;
  object-fit: cover;
  object-position:center;
}